/* -------- Backgrounds ------------*/
body {
    background-image:url('./images/backgrounds/background3.gif'); animation-direction: alternate; background-repeat: repeat;
}

body.drawing1 {
    background-image:url('./images/backgrounds/homepage_shapes_v1.svg');
}

body.drawing2 {
    background-image:url('./images/backgrounds/homepage_shapes_v2.svg');
}

/* ---- Drawing Screens ---*/
div.drawingSquare {
    position:relative;
    width: 1100px;
    height: 700px;
    top: 0px;
    left: 20%;
    right: 0px;
    bottom: 100px;
    margin-top: 5%;
    margin-left: 0%;
    background: #ffffff;
    box-shadow: 10px 17px 0px #E3E3E3;
    border-radius: 30px;
}

div.drawingSquare h1 {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 26px;
    left: 5%;
    margin-top: 4%;
    color: rgba(0, 0, 0, 0.5);
}

div.drawingSquare img {
    position: absolute;
    width: 10%;
    top: 2%;
    left: 85%;
}

div.drawingSquare div.prompt {
    position: absolute;
    font-size: 48px;
    font-family: 'Open Sans';
    margin-left: 5%;
    top: 10%;
}

/*-------- How to play screens -----------*/
div.h2pSquare {
    position: absolute;
    width: 945px;
    height: 781px;
    top: 10%;
    left: 0px;
    right: 0px;
    bottom: 100px;
    margin: auto;

    background: #FFFFFF;
    box-shadow: 10px 17px 0px #E3E3E3;
    border-radius: 30px;
}

div.h2pSquare h1{
    position: absolute;
    width: 50%;
    height: 83px;
    left: 30%;
    top: 30%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 83px;

    color: #000000;
}

div.h2pSquare p{
    position: absolute;
    width: 75%;
    height: 126px;
    left:15%;
    top: 45%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}

button.next{
    position: absolute;
    width: 373px;
    height: 56px;
    left: 30%;
    top: 75%;

    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    background: #FF717F;
    box-shadow: 0px 6px 0px #C93E4C;
    border-radius: 20px;
    border: 0mm;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;

    margin: 0;
    text-align: center;
    letter-spacing: 0.1px;

    color: #FFFFFF;
}

img.character1 {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
 /* ------ Home Screen -- */

p.intro {
    position: absolute;
    width: 675px;
    height: 0;
    left: 32%;
    top: 44%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 22px;
    /* identical to box height, or 61% */

    text-align: center;
    letter-spacing: 0.1px;

    color: #000000;

}

img.logo {
    position: absolute;
    left: 35%;
    top: 35%;
}

/* -------- End Screen -----------*/
div.endScreen {
    position: absolute;
    width: 945px;
    height: 781px;
    top: 10%;
    left: 0px;
    right: 0px;
    bottom: 100px;
    margin: auto;

    background: #FFFFFF;
    box-shadow: 10px 17px 0px #E3E3E3;
    border-radius: 30px;

    font-family: 'Open Sans';
    font-style: normal;
    text-align: center;
}

div.endScreen h1 {
    font-size: 81px;
    margin-top: 0%;
    margin-bottom: 0;
}

div.endScreen p {
    font-size: 32px;
}

div.endScreen button {
    position: absolute;
    width: 373px;
    height: 56px;
    left: 30%;
    top: 70%;

    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    background: #FF717F;
    box-shadow: 0px 6px 0px #C93E4C;
    border-radius: 20px;
    border: 0mm;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;

    margin: 0;
    text-align: center;
    letter-spacing: 0.1px;

    color: #FFFFFF;
}

div.endScreen button.save {
    background: #ffffff;
    top:80%;
    color: #C93E4C;
    border: 4px solid #C93E4C;
}

div.endScreen img {
    margin-top: 10%;
}

.blackbg {
	visibility: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
	background-image: url('./images/backgrounds/black_bg.svg');
	background-repeat: repeat;
}

.popupbg {
	visibility: hidden;
	background-image:url('./images/new_popup.svg');
	background-repeat:no-repeat;
	position: fixed;
	top: -5%;
	left: 19%;
	height: 100%;
	width: 100%;
	transform: translate(-25%,-25%);
	transform: scale(0.75);
}

.popup0 {
    visibility: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -250%);
	display: inline-block;
	cursor: pointer;
}

.popup0 .popuptext {
  flex-direction: row;
  align-items: center;
  padding: 0px 0px;
  gap: 10px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 22px;

  background: #ffffff;
  border: 0mm;

  margin: 0;
  text-align: center;
  letter-spacing: 0.1px;
}

.popup01 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -550%);
	display: inline-block;
	cursor: pointer;
}

.popup01 .popuptext {
  visibility: hidden;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px;
  gap: 10px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;

  color: #676767;
  background: #ffffff;
  border: 0mm;

  margin: 0;
  text-align: center;
  letter-spacing: 0.1px;
}

.popup1 {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -115%);
  display: inline-block;
  cursor: pointer;
}

.popup1 .popuptext {
  flex-direction: row;
  align-items: center;
  padding: 20px 100px;
  gap: 10px;

  background: #FF717F;
  box-shadow: 0px 6px 0px #C93E4C;
  border-radius: 20px;
  border: 0mm;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 22px;

  margin: 0;
  text-align: center;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

.popup2 {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, +15%);
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup2 .popuptext {
  flex-direction: row;
  align-items: center;
  padding: 20px 87px;
  gap: 10px;

  box-shadow: 0px 6px 0px #C93E4C;
  border-radius: 20px;
  background: #ffffff;
  color: #C93E4C;
  border: 4px solid #C93E4C;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 22px;

  margin: 0;
  text-align: center;
  letter-spacing: 0.1px;
}